<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StockAPP</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<body> 

<div class="container">
<img th:src="@{/logo.png}" src="../static/logo.png" alt="..." class="img-fluid" />
</div>
<br>
<div class="container">
    <form th:action="@{/add}" method="post" th:object="${StockDTO}">
                <input type="text" class="form-control-sm" required th:field="*{symbol}" placeholder="Enter Stock Symbol"> 
				<button type="submit" class="btn btn-primary">Add Stock</button>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">(+/-)</th>
            <th scope="col">(%)</th>
            <th scope="col">Prev-Closed</th>
            <th scope="col">Volume</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="StockDTO, iStat : ${allStocks}">
            <th scope="row" th:text="${StockDTO.symbol}">1</th>
            <td th:text="${#numbers.formatCurrency(StockDTO.price)}">2</td>
            <td>
            	<span th:if="${StockDTO.change >= 0}" 
            		  th:text="'+' + ${#numbers.formatCurrency(StockDTO.change)}" class="text-success"> 1</span>
    			<span th:unless="${StockDTO.change >= 0}"
    			      th:text="${#numbers.formatCurrency(StockDTO.change)}" class="text-danger"> 2</span>
            </td>
            <td th:text="${#numbers.formatDecimal(StockDTO.changesPercentage,1,2)} + '%'">4</td>
            <td th:text="${#numbers.formatCurrency(StockDTO.previousClose)}">5</td>
            <td th:text="${StockDTO.volume}">5</td>
            <td><a href="" th:href="@{/delete/{id}(id=${StockDTO.symbol})}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

<p th:text="${#dates.format(standardDate, 'dd-MM-yyyy HH:mm')}"></p>

</body>
</html>









